KnowledgeAppTest/node_modules/**/*
KnowledgeAppTest/.expo/*
KnowledgeAppTest/npm-debug.*
.vscode/*
*.jks
*.p12
*.key
*.mobileprovision
KnowledgeAppTest/server/.vs/*
KnowledgeAppTest/server/KnowledgeAppBackend/bin/*
KnowledgeAppTest/server/KnowledgeAppBackend/obj/*